<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Book and reviewers</title>
    </head>
    <body>
        <h2>{{book.title}}</h2>
        <h3>Author: {{book.author.name}}</h3>
        <a href="/books">Home</a><br>
        <a href="/logout">Logout</a><br>
        <h2>Reviews:</h2>
        <ul>
            {% for review in all_reviews %}
            <li><ul>
                <li>Rating: {{review.rating}}</li>
                <li><a href="/users/{{review.user.id}}">{{review.user.alias}}</a> says: {{review.content}}</li>
                <li>Posted at {{review.created_at}}</li>
                {% if review.user.id == user_id %}
                <li><a href="/delete/{{review.id}}">Delete this review</a></li>
                {% endif %}
            </ul></li>
            {% endfor %}
        </ul>
        <hr>
        <h2>Add a Review:</h2>
        <form action="/add_review" method="POST">
            {% csrf_token %}
            <input type="hidden" name="book_id" value={{book.id}}>
            <textarea name="content"cols="30" rows="10"></textarea>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Submit Review">
        </form>
    </body>
</html>
